
@{
    ViewBag.Title = "Find a Hotline";
}

<div class="heading mb20">
    <h2>@ViewBag.Title</h2>
</div>

<div class="important">
    <p>If you are having a medical emergency, are in danger, or are feeling suicidal, see emergency numbers below:</p>

    <ul>
        <li>Suicide Hotline: <b>800-784-2433</b></li>
        <li>Immediate Medical Assistance: <b>911</b></li>
        <li>Crisis Call Center: <b>800-273-8255</b> or <b>text ANSWER to 839863</b></li>
    </ul>
</div>

<div class="hotline-list">
    <p class="hotline-list-description">The services below are free to use and available 24/7. Don't hesitate to call if you need help.</p>

    <p>
        <b>Planned Parenthood National Hotline</b><br/>1-800-230-PLAN (7526)
    </p>
    <p class="hotline-description">Call this number to be directed to resources near you.</p>

    <p>
        <b>Backline's Hotline</b><br/>1-888-493-0092
    </p>

    <p class="hotline-description">
        Free hotline providing nonjudgmental options counseling for women and girls on unintended pregnancy, abortion, adoption, and parenting.
    </p>

    <p>
        <b>The National Abortion Federation Hotline</b><br/>1-800-772-9100
    </p>
    <p class="hotline-description">
        A free and anonymous hotline that will answer questions about abortion, unintended pregnancy or related issues.
    </p>
</div>

