
@{
    ViewBag.Title = "About Us";
}

<div class="heading mb20">
    <h2>@ViewBag.Title</h2>
</div>

<p>This is an app built at White House Foster Care and Technology Hackathon by the <a href="http://stackoverflow.com">Stack Overflow</a> Team.
</p>
<h3>
    Problem:
    How might we prevent unplanned pregnancy among foster youth?
</h3>
<p>Youth in foster care—and particularly older youth—are at great risk of experiencing an unplanned
    pregnancy. They are 2.5 times more likely than their peers not in care to experience a pregnancy
    and birth as a teen; and their risk of pregnancy increases with age. Despite this high risk, there
    are few evidence-based programs to help youth in foster care avoid an unplanned pregnancy.
    In addition, because of the transitional nature of youth in care, traditional curriculum based teen 
    pregnancy prevention programs are challenging to implement with fidelity with this population.</p>
<h3>Team</h3>
<ul>
    <li><a href="http://stackoverflow.com/users/105971/adam">Adam Lear</a></li>
    <li><a href="http://stackoverflow.com/users/1012097/kirti-thorat">Kirti Thorat</a></li>
    <li><a href="http://stackoverflow.com/users/2420979/haney">David Haney</a></li>
    <li><a href="http://stackoverflow.com/users/2/geoff-dalgas">Geoff Dalgas</a></li>
</ul>
