@{
    ViewBag.Title = "Welcome!";
}

<div class="cta mb20">
    <p class="heavy">Helping youth in foster care find and access resources about pregnancy</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="heading mb20">
            <h2>Find Resources</h2>
        </div>
        <p>
            We understand that decisions about pregnancy can be some of the most impactful and life changing decisions that youth can make.
            We built this tool to provide the most relevant and current information available to people like you.
        </p>
        <p><a class="btn btn-default" href="/resources">Find Resources &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="heading mb20">
            <h2>Find Hotlines</h2>
        </div>
        <p>
            Sometimes all you need is an impartial, ready-to-listen ear.
        </p>
        <p><a class="btn btn-default" href="/hotlines">Find a Hotline &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="heading mb20">
            <h2>Ask a Question</h2>
        </div>
        <p>
            There are times when there isn't an easy answer to a very important question you may have. We offer a place
            where questions can be asked anonymously and answered by others. Your privacy is very important and will be honored. 
        </p>
        <p><a class="btn btn-default" href="/questions">Ask Now &raquo;</a></p>
    </div>
</div>